<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <h1>Edit your chat</h1>

    <h4>from: <%=chat.from%>....to: <%=chat.to%></h4>

    <form method="post" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="msg" id="" cols="30" rows="10"><%=chat.msg%></textarea>
            <button>Submit</button>
    </form>

</body>
</html>