<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <form action="/posts" method="POST">
        <label for="username">Username
            <input type="text" name="username" placeholder="Enter Username" id="username" required>
        </label>
        <br>
        <label for="content">Content
            <textarea name="content" id="content" cols="30" rows="10" placeholder="Enter some content" required></textarea>
        </label>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>